<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">Cargos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addJobPosition"
            type="submit">Adicionar</button>
        </div>
      </div>
    </nav>
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Cargo</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job_position of jobList">
          <td>{{job_position.id}}</td>
          <td>{{job_position.name}}</td>
          <td>
            <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editJobPosition"
              (click)="editJobPosition(job_position)">Editar</button>
            <button type="button" class="btn btn-outline-danger" (click)="deleteJobById(job_position)">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- ADD CLIENT -->
    <div class="modal fade" id="addJobPosition" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Cargo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="jobDetail">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ID</label>
                <input type="number" formControlName="id" class="form-control" id="id"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Cargo</label>
                <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
              </div>
  
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addJobPosition()">Salvar</button>
              </div>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  
    <!-- EDIT CLIENT -->
    <div class="modal fade" id="editJobPosition" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar cargo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="jobDetail">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ID</label>
                <input type="number" formControlName="id" class="form-control" id="id"
                  aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nome do Cargo</label>
                <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
              </div>
  
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateJob()">Atualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
