<mat-nav-list>
    <mat-nav-list>
        <h2 matSubheader class="mt-2">Navegador</h2>
      
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
          <mat-icon>home</mat-icon> Home
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/client"> <mat-icon>edit</mat-icon> Empresa </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/job-position"> <mat-icon>edit</mat-icon> Cargos </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee"> <mat-icon>edit</mat-icon> Funcionários </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee-leave"> <mat-icon>edit</mat-icon> Afastamento </a>
      </mat-nav-list>
</mat-nav-list>