<mat-nav-list>
    <h2 matSubheader class="mt-2">Applications</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"><mat-icon>home</mat-icon> Home</a>

    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon> Dashboard</a>

    <a mat-list-item routerLink="/client" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon> Empresa</a>

    <a mat-list-item routerLink="/employee" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon> Funcionário</a>

    <a mat-list-item routerLink="/job-position" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon> Cargo</a>

    <a mat-list-item routerLink="/employee-leave" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon> Afastamento</a>

</mat-nav-list>
